.cocktailsDetailWrapper {
    margin: 5rem;
    text-align: center;
}

.cocktailsDetailImage {
    margin: 0 10% 10% 10%;
}

.cocktailsDetailName {
    width: 100%;
    border-bottom: solid 13px silver;
    font-size: 40px;
    color: white;
}

.cocktailsMaterialTableWrapper {
    margin-bottom: 15rem;
    overflow: scroll;
}

.cocktailsMaterialTable {
    width: 100%;
    font-size: 40px;
    margin-top:20%;
    table-layout: fixed
}

.cocktailsMaterialTableElement {
    padding: 40px 20px;
    overflow-wrap: break-word;
}

.cocktailsMaterialName {
    width: 65%;
}

.tableBorderBottom {
    border-bottom: 8px silver solid;
}

.tableBorderRight {
    border-right: 8px silver solid;
}
