.orderButton {
    position: fixed;
    bottom: 200px;
    width: 60%;
    height: 100px;
    margin: 30px 20%;
    border-radius: 50px;
    font-size: 50px;
    background-color: silver;
    color: #5f5f5f;
}
