.cocktailCartCardList {
    padding: 0;
    margin-bottom: 15rem;

    text-align: center;
    overflow: scroll;
}

.cocktailCartCardWrapper {
    width: 100%;
    margin-top: 5%;
    text-align: center;

    list-style: none;
}
